@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #FCE4EC;
  --color-secondary: #D81B60;
  --color-accent: #2D0C1E;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: Outfit;
  background: #000;
  color: #fff;
}